

  
  @media screen and (max-width: 509px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 98%;
      transition: 0.5s;
    }
 
  }

  
  @media screen and (min-width: 510px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 47%;
      transition: 0.5s;
    }
  }
  
  @media screen and (min-width: 890px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 32%;
      transition: 0.5s;
    }
  }
 
  @media screen and (min-width: 1140px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 24%;
      transition: 0.5s;
    }
  }



  /* SIDE BAR  */


  @media screen and (max-width:800px){

    .side-bar{ 
        width:50px;
        transition: 0.5s;
    }
    .widget__menu .menu-item  p {
        display: none;
    }
    .widget__menu .menu-item .icon{
        margin: 0;
    }
    .widget:nth-child(2){
        padding-top: 0;
       
       
    }
    .widget{
        border-bottom: none;
        padding-bottom: 0;
    }
    .side-bar .widget:last-child{
        display: none;
    }

    .widget:nth-child(2) .widget__menu li{
        display: none;
    }
    .widget:nth-child(2) .widget__menu li:first-child {
        display: block;
    }
  }