

  
  @media screen and (max-width: 509px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 98%;
      transition: 0.5s;
    }
 
  }

  
  @media screen and (min-width: 510px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 47%;
      transition: 0.5s;
    }
  }
  
  @media screen and (min-width: 890px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 32%;
      transition: 0.5s;
    }
  }
 
  @media screen and (min-width: 1140px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 24%;
      transition: 0.5s;
    }
  }